<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d1fff70-9241-451f-9951-975b9f4921d3" Alias="Blocks - mixed" Level="2">
  <Info>
    <Name>Blocks - mixed</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "teasersBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "productsBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "imageBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>