<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a0fb941-ae79-47da-8f74-71b69ed3476b" Alias="Blocks - story page" Level="2">
  <Info>
    <Name>Blocks - story page</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "wysiwygBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "bannerBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "showcaseBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>