<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3dea76b-6328-4031-8a69-1fc297b1beb9" Alias="Blocks - homepage" Level="2">
  <Info>
    <Name>Blocks - homepage</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "teasersBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "mixedBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "headingBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "Heading - {{text}}"
    },
    {
      "ncAlias": "groupedTeasersBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "Grouped teasers - {{heading1}}"
    },
    {
      "ncAlias": "bannerBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "showcaseBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "wysiwygBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "heroBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "Hero - {{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>