<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92d18636-8637-470a-9d99-67b32c584b13" Alias="Blocks - landing page" Level="2">
  <Info>
    <Name>Blocks - landing page</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headingBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    },
    {
      "ncAlias": "teasersBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "bannerBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "wysiwygBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "heroBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>