<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01cd8309-d15e-4647-bc2c-6d3aeb139332" Alias="Blocks - product listing page" Level="2">
  <Info>
    <Name>Blocks - product listing page</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headingBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    },
    {
      "ncAlias": "teasersBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "heroBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    },
    {
      "ncAlias": "wysiwygBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "showcaseBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "bannerBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>