<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbaf13a8-4036-41f2-93a3-974f678c312a" Alias="Checkbox list" Level="1">
  <Info>
    <Name>Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "H1"
    },
    {
      "id": 2,
      "value": "H2"
    },
    {
      "id": 3,
      "value": "H3"
    },
    {
      "id": 4,
      "value": "H4"
    },
    {
      "id": 5,
      "value": "H5"
    },
    {
      "id": 6,
      "value": "H6"
    }
  ]
}]]></Config>
</DataType>