<?xml version="1.0" encoding="utf-8"?>
<DataType Key="735c03bf-e170-40a7-90ce-d8502671f177" Alias="Checkbox" Level="1">
  <Info>
    <Name>Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>