<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecd2e643-c695-4bc1-a4b6-71887dd0da6d" Alias="Checkbox - Alternative background" Level="1">
  <Info>
    <Name>Checkbox - Alternative background</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Alternative background"
}]]></Config>
</DataType>