<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7478f880-647d-4379-921d-aa5acc584c06" Alias="Content Picker Multiple - Story tag" Level="1">
  <Info>
    <Name>Content Picker Multiple - Story tag</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/storyLandingPage/storyTagListingPage",
    "id": null
  },
  "Filter": "storyTagPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>