<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c67501cd-930d-4003-97d6-32bd37e1aa44" Alias="Content picker multiple" Level="1">
  <Info>
    <Name>Content picker multiple</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>