<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bba463ce-e1ec-4ef1-a27c-69f61030c751" Alias="Dropdown - Social media icon" Level="1">
  <Info>
    <Name>Dropdown - Social media icon</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Instagram"
    },
    {
      "id": 2,
      "value": "Facebook"
    },
    {
      "id": 3,
      "value": "Youtube"
    }
  ]
}]]></Config>
</DataType>