<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb57364f-1ac3-41cb-ab8c-0a54770ba81b" Alias="Heading block - HTML Heading tag - Dropdown" Level="1">
  <Info>
    <Name>Heading block - HTML Heading tag - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "H1"
    },
    {
      "id": 2,
      "value": "H2"
    },
    {
      "id": 3,
      "value": "H3"
    },
    {
      "id": 4,
      "value": "H4"
    },
    {
      "id": 5,
      "value": "H5"
    },
    {
      "id": 6,
      "value": "H6"
    }
  ]
}]]></Config>
</DataType>