<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38a9ebee-371e-453a-954d-cec6e553f910" Alias="Menu" Level="2">
  <Info>
    <Name>Menu</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "menuItem",
      "ncTabAlias": "Menu",
      "nameTemplate": "{{link | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>