<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6972bb8b-c397-425f-8865-d0bb0e3588fd" Alias="Product picker - multiple products" Level="1">
  <Info>
    <Name>Product picker - multiple products</Name>
    <EditorAlias>ProductPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "maxProducts": 0
}]]></Config>
</DataType>