<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8a14c3a-c560-4563-bd94-ce55208ecb8a" Alias="Product filter" Level="1">
  <Info>
    <Name>Product filter</Name>
    <EditorAlias>ProductFilter</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>