<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ccef11a5-e6f8-46ea-8a39-5a6aec3805b6" Alias="Product filters" Level="2">
  <Info>
    <Name>Product filters</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "productSearchFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "{{values}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>