<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a4c39f9-1c72-4f45-9783-1993958d33c3" Alias="Product picker - single product" Level="1">
  <Info>
    <Name>Product picker - single product</Name>
    <EditorAlias>ProductPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "maxProducts": 1
}]]></Config>
</DataType>