<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c732d13f-f489-4e1d-ae7e-76a4be2af8d0" Alias="Rich Text Editor - Minimized" Level="1">
  <Info>
    <Name>Rich Text Editor - Minimized</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": null
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>