<?xml version="1.0" encoding="utf-8"?>
<DataType Key="011150c8-bd70-4a2a-ad74-74f24316218f" Alias="Single URL picker" Level="1">
  <Info>
    <Name>Single URL picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>