<?xml version="1.0" encoding="utf-8"?>
<DataType Key="337ac97f-c90e-4672-bf7a-34a6aa1783fa" Alias="Sitemap Change Frequency" Level="2">
  <Info>
    <Name>Sitemap Change Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Sitemap</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "always"
    },
    {
      "id": 2,
      "value": "hourly"
    },
    {
      "id": 3,
      "value": "daily"
    },
    {
      "id": 4,
      "value": "weekly"
    },
    {
      "id": 5,
      "value": "monthly"
    },
    {
      "id": 6,
      "value": "yearly"
    },
    {
      "id": 7,
      "value": "never"
    }
  ]
}]]></Config>
</DataType>