<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ba6cf6e-125a-4734-82f1-771db10d4470" Alias="Social medias" Level="2">
  <Info>
    <Name>Social medias</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "socialMediaItem",
      "ncTabAlias": "Properties",
      "nameTemplate": "{{socialMediaName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>