<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a1d20e2-5da2-4cf8-80e1-f8f800a78e7e" Alias="Style - heading block" Level="2">
  <Info>
    <Name>Style - heading block</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Style</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Gradient"
    },
    {
      "id": 2,
      "value": "Patterned"
    },
    {
      "id": 3,
      "value": "Patterned-DH"
    },
    {
      "id": 4,
      "value": "Patterned-DPR"
    },
    {
      "id": 5,
      "value": "Patterned-DHD"
    },
    {
      "id": 6,
      "value": "Patterned-DC"
    }
  ]
}]]></Config>
</DataType>