<?xml version="1.0" encoding="utf-8"?>
<Macro Key="cac0e8a9-58d0-41ee-ac49-aca4065d6ad1" Alias="Link" Level="0">
  <Name>Link</Name>
  <MacroSource>~/Views/MacroPartials/Link.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>External (ex:www.google.se)</Name>
      <Alias>external</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>Internal</Name>
      <Alias>link</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
    <Property>
      <Name>Text</Name>
      <Alias>text</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
  </Properties>
</Macro>