@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = MGD.Umbraco.Cms.ModelsBuilder.Models;
<div style="margin: auto; font-family: Courier New; text-align: center;">
    <h1>Mardi Gras Digital - Umbraco API</h1>
    <ul style="list-style: none;">
        <li><a href="/umbraco">backend</a></li>
    </ul>
</div>