<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d6dbb83-daa3-4ccd-803c-c160c5e71581" Alias="domainSelectorPage" Level="2">
  <Info>
    <Name>Domain selector page</Name>
    <Icon>icon-globe-inverted-europe-africa color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="630709d5-76dd-453d-b62c-65d80cc7971b">openGraphComposition</Composition>
      <Composition Key="a2c2140a-439a-4de3-9ca4-38e1e8e9a0b7">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>DomainSelectorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="92fbd81d-54f1-44b9-af9c-65255221c212">DomainSelectorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>