<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b964feb2-711c-49a5-aa55-7dbb318fa002" Alias="homePage" Level="2">
  <Info>
    <Name>Home page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="630709d5-76dd-453d-b62c-65d80cc7971b">openGraphComposition</Composition>
      <Composition Key="a2c2140a-439a-4de3-9ca4-38e1e8e9a0b7">seoComposition</Composition>
      <Composition Key="639bdf1e-3ac6-4ba7-aa76-7ff64056a904">sitemapComposition</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="adf314d4-7074-4a56-a7cf-53e1cbad21b6">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7b24658e-c8d6-46cb-8829-6a5f913152af" SortOrder="0">informationPage</ContentType>
    <ContentType Key="3f270330-dd98-4f98-8522-5d739f627969" SortOrder="1">landingPage</ContentType>
    <ContentType Key="149a6052-5670-4435-92b9-878f74fa8009" SortOrder="2">productListingPage</ContentType>
    <ContentType Key="576d742f-50af-40e1-8958-7720ce52e22b" SortOrder="3">articlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>54690ae4-1f6a-4983-8191-b551e1b74a6c</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>d3dea76b-6328-4031-8a69-1fc297b1beb9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>23490f12-d9fb-4679-bff8-6a2d28437253</Key>
      <Name>Footer links column 1</Name>
      <Alias>footerLinksColumn1</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e00eb11d-7466-40e1-801e-c8781c719afd</Key>
      <Name>Footer links column 2</Name>
      <Alias>footerLinksColumn2</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5d76d107-a6c7-44a3-8110-729a4ef29096</Key>
      <Name>Footer links column 3</Name>
      <Alias>footerLinksColumn3</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3ff65543-0727-4df4-8995-39fbe2837ae1</Key>
      <Name>Footer text</Name>
      <Alias>footerText</Alias>
      <Definition>c732d13f-f489-4e1d-ae7e-76a4be2af8d0</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ec993534-f647-41b8-bdb0-19a95159329c</Key>
      <Name>Menu</Name>
      <Alias>menu</Alias>
      <Definition>38a9ebee-371e-453a-954d-cec6e553f910</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4d5be61e-45a8-4699-92c3-94532694cfce</Key>
      <Name>Social medias</Name>
      <Alias>socialMedias</Alias>
      <Definition>3ba6cf6e-125a-4734-82f1-771db10d4470</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>