<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b24658e-c8d6-46cb-8829-6a5f913152af" Alias="informationPage" Level="2">
  <Info>
    <Name>Information page</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="630709d5-76dd-453d-b62c-65d80cc7971b">openGraphComposition</Composition>
      <Composition Key="a2c2140a-439a-4de3-9ca4-38e1e8e9a0b7">seoComposition</Composition>
      <Composition Key="639bdf1e-3ac6-4ba7-aa76-7ff64056a904">sitemapComposition</Composition>
      <Composition Key="92997726-3080-4703-9432-e56d7ce2021d">teaserComposition</Composition>
    </Compositions>
    <DefaultTemplate>InformationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5de08da5-14dd-4644-9d4b-b700b2137094">InformationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7b24658e-c8d6-46cb-8829-6a5f913152af">informationPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>87b739d4-4e9a-4c86-aa83-2a22ec81ae98</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f9d7d2cf-c6ac-467e-9b87-efe90d903073</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d917ad02-d871-4d59-8a1d-7eae4fe1ef4c</Key>
      <Name>Introduction</Name>
      <Alias>introduction</Alias>
      <Definition>c732d13f-f489-4e1d-ae7e-76a4be2af8d0</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>