<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f270330-dd98-4f98-8522-5d739f627969" Alias="landingPage" Level="2">
  <Info>
    <Name>Landing page</Name>
    <Icon>icon-screensharing color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="630709d5-76dd-453d-b62c-65d80cc7971b">openGraphComposition</Composition>
      <Composition Key="a2c2140a-439a-4de3-9ca4-38e1e8e9a0b7">seoComposition</Composition>
      <Composition Key="639bdf1e-3ac6-4ba7-aa76-7ff64056a904">sitemapComposition</Composition>
      <Composition Key="92997726-3080-4703-9432-e56d7ce2021d">teaserComposition</Composition>
    </Compositions>
    <DefaultTemplate>LandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27accc50-5039-4f9b-b80f-7598e98e62f8">LandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="576d742f-50af-40e1-8958-7720ce52e22b">articlePage</ContentType>
    <ContentType Key="3f270330-dd98-4f98-8522-5d739f627969">landingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6e030d35-a175-404e-9906-83893c07cbdd</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>92d18636-8637-470a-9d99-67b32c584b13</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>