<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bb7e8584-e59f-46d6-a509-c9045df354b3" Alias="menuItem" Level="2">
  <Info>
    <Name>Menu item</Name>
    <Icon>icon-eco color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2975b03a-ca00-4dc5-b540-3e79970417f8</Key>
      <Name>Auto generate children</Name>
      <Alias>autoGenerateChildren</Alias>
      <Definition>735c03bf-e170-40a7-90ce-d8502671f177</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Auto generate children from the link]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Menu</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9d5acfd3-4a35-4135-89b8-8c84c182ed32</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Menu</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e475eff2-ac25-4464-ab8e-06c9f6944d77</Key>
      <Name>Children</Name>
      <Alias>menuChildren</Alias>
      <Definition>38a9ebee-371e-453a-954d-cec6e553f910</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Manually added links]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Menu</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Menu</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>