<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="68661934-017e-47d5-a357-ac94ee1db698" Alias="mixedBlock" Level="3">
  <Info>
    <Name>Mixed block</Name>
    <Icon>icon-candy color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+content/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ef933d78-641f-4e91-8986-ec906e060a78</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>0d1fff70-9241-451f-9951-975b9f4921d3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>