<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b855348-b0f8-429b-a415-4e320c72ee2c" Alias="mulipleTeaserBlock" Level="3">
  <Info>
    <Name>Muliple teaser block</Name>
    <Icon>icon-tactics color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+content/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2843c2e-0c1d-4d34-8156-ad2b04c79220</Key>
      <Name>Pages</Name>
      <Alias>pages</Alias>
      <Definition>c67501cd-930d-4003-97d6-32bd37e1aa44</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>