<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ec32561-bd66-4ec7-8e07-670db26feeec" Alias="productsBlock" Level="3">
  <Info>
    <Name>Products block</Name>
    <Icon>icon-crosshair color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+content/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e6c48b00-b071-4334-8fdf-b083bf29e193</Key>
      <Name>Products</Name>
      <Alias>products</Alias>
      <Definition>6972bb8b-c397-425f-8865-d0bb0e3588fd</Definition>
      <Type>ProductPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>