<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8279bdd-e0c2-461b-b4d3-907e75ed145a" Alias="publishedComposition" Level="2">
  <Info>
    <Name>Published composition</Name>
    <Icon>icon-calendar color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>517231e8-0533-46dd-a52b-7abd6a97ecbc</Key>
      <Name>Published at</Name>
      <Alias>publishedAt</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>300</SortOrder>
    </Tab>
  </Tabs>
</ContentType>