<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9d79b0b-95f2-48f9-aa04-7701a37c081f" Alias="resourceSection" Level="2">
  <Info>
    <Name>Resource section</Name>
    <Icon>icon-book color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Resource</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="120526a8-c683-446a-9ca7-40f78813ccc0">resourceListData</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>