<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="120526a8-c683-446a-9ca7-40f78813ccc0" Alias="resourceList" Level="2">
  <Info>
    <Name>Resource list</Name>
    <Icon>icon-book color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Resource list, name correspondes to airtable column name</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Resource</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f97419fd-d131-426a-9ad3-4d00faa8788d">resource</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>