<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="445defa5-315f-4719-88dc-0ca37573cd80" Alias="robots" Level="1">
  <Info>
    <Name>Robots</Name>
    <Icon>icon-bird color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Robots</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0d8386c5-493b-4833-acd5-4a1d0ef605c2">Robots</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>240abc72-2790-4fa6-924b-4e366827bfa1</Key>
      <Name>Static</Name>
      <Alias>static</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>