<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20c9eead-511d-437a-b378-b52a9a8c19f8" Alias="searchResultPage" Level="2">
  <Info>
    <Name>Search result page</Name>
    <Icon>icon-search color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>SearchResultPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1983e266-d41c-4a89-925e-582e861e9b28">SearchResultPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>