<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db807c60-9351-499e-9c93-8abdbc82edc7" Alias="showcaseBlock" Level="3">
  <Info>
    <Name>Showcase block (Bullet list)</Name>
    <Icon>icon-cinema color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+content/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>753345b3-c676-4a5b-9f7c-8487d99894c7</Key>
      <Name>Background image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>483186af-7644-4c67-9088-26ec351798f3</Key>
      <Name>Products</Name>
      <Alias>products</Alias>
      <Definition>6972bb8b-c397-425f-8865-d0bb0e3588fd</Definition>
      <Type>ProductPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>