<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="639bdf1e-3ac6-4ba7-aa76-7ff64056a904" Alias="sitemapComposition" Level="2">
  <Info>
    <Name>Sitemap composition</Name>
    <Icon>icon-map color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8c788a90-3463-43e4-b497-623799241292</Key>
      <Name>Hide in sitemap</Name>
      <Alias>sitemaHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>202</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>01bc1d2d-3f73-4d76-8e8e-197f849fb546</Key>
      <Name>Sitemap default change freqency</Name>
      <Alias>sitemapDefaultChangeFreqency</Alias>
      <Definition>337ac97f-c90e-4672-bf7a-34a6aa1783fa</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>200</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3cb9141e-4154-47a5-b9f8-a3c6e3185aba</Key>
      <Name>Sitemap default priority</Name>
      <Alias>sitemapDefaultPriority</Alias>
      <Definition>b5265350-9597-4888-b031-7d7176672fd6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>201</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO</Caption>
      <SortOrder>200</SortOrder>
    </Tab>
  </Tabs>
</ContentType>