<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c07bbe8a-7ba9-4e64-b978-34cfc53296f0" Alias="sitemap" Level="1">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-map color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Sitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cef93b72-012b-45e2-9b59-2deb04456a49">Sitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f17f620d-e9ca-4b63-9905-b84491f9920a</Key>
      <Name>Sitemap default change freqency</Name>
      <Alias>sitemapDefaultChangeFreqency</Alias>
      <Definition>337ac97f-c90e-4672-bf7a-34a6aa1783fa</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>532b6374-b776-4591-bc43-5d535246466c</Key>
      <Name>Sitemap default priority</Name>
      <Alias>sitemapDefaultPriority</Alias>
      <Definition>b5265350-9597-4888-b031-7d7176672fd6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>