<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15c607c7-e6db-4b77-b76d-a67258f59f3f" Alias="storyLandingPage" Level="2">
  <Info>
    <Name>Story landing page</Name>
    <Icon>icon-cloudy color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="630709d5-76dd-453d-b62c-65d80cc7971b">openGraphComposition</Composition>
      <Composition Key="a2c2140a-439a-4de3-9ca4-38e1e8e9a0b7">seoComposition</Composition>
      <Composition Key="639bdf1e-3ac6-4ba7-aa76-7ff64056a904">sitemapComposition</Composition>
      <Composition Key="92997726-3080-4703-9432-e56d7ce2021d">teaserComposition</Composition>
    </Compositions>
    <DefaultTemplate>StoryLandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4f7d1544-e396-475c-9e39-6bb2d7e9a664">StoryLandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="15c607c7-e6db-4b77-b76d-a67258f59f3f">storyLandingPage</ContentType>
    <ContentType Key="0daee44b-ff43-4de4-8e84-c2379165489b">storyListingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a78bdd6f-7e6f-47c8-92a0-859bcc38980b</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8f607561-8fed-4776-b051-043ad3e54b3c</Key>
      <Name>Introduction</Name>
      <Alias>introduction</Alias>
      <Definition>c732d13f-f489-4e1d-ae7e-76a4be2af8d0</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6d6213b0-d022-42a5-8082-da84c3288476</Key>
      <Name>Teaser icon</Name>
      <Alias>teaserIcon</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Teaser</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Teaser</Caption>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>