<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc1fee38-61e6-46d9-902b-818fa1d8d3ca" Alias="storyPage" Level="2">
  <Info>
    <Name>Story page</Name>
    <Icon>icon-cloud color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="630709d5-76dd-453d-b62c-65d80cc7971b">openGraphComposition</Composition>
      <Composition Key="b8279bdd-e0c2-461b-b4d3-907e75ed145a">publishedComposition</Composition>
      <Composition Key="a2c2140a-439a-4de3-9ca4-38e1e8e9a0b7">seoComposition</Composition>
      <Composition Key="639bdf1e-3ac6-4ba7-aa76-7ff64056a904">sitemapComposition</Composition>
      <Composition Key="92997726-3080-4703-9432-e56d7ce2021d">teaserComposition</Composition>
    </Compositions>
    <DefaultTemplate>StoryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2219f6f0-4d83-4e9d-8dd7-469d1f106fd8">StoryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>30086172-4996-4582-9e37-dcaeb3c2353b</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>6a0fb941-ae79-47da-8f74-71b69ed3476b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1e67a492-79b7-4e6f-a4e6-32c4d8c13677</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f61d41f2-7e8a-4d90-b209-ccd45a37577c</Key>
      <Name>Hero</Name>
      <Alias>hero</Alias>
      <Definition>e1d009e8-8386-495a-8bd8-b1dc05b85ad5</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0401b934-7051-48b9-9eee-07b046b0d7d2</Key>
      <Name>Related products</Name>
      <Alias>relatedProducts</Alias>
      <Definition>6972bb8b-c397-425f-8865-d0bb0e3588fd</Definition>
      <Type>ProductPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a56bd860-cb86-46e6-a166-cf667c8089ee</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>7478f880-647d-4379-921d-aa5acc584c06</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>300</SortOrder>
    </Tab>
  </Tabs>
</ContentType>