<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2cf8f35a-a99d-4850-a664-c6ac2cf1f8c3" Alias="teasersBlock" Level="3">
  <Info>
    <Name>Teasers block</Name>
    <Icon>icon-tactics color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+content/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fadf1031-53be-407c-a58c-c39593f98240</Key>
      <Name>Is compact</Name>
      <Alias>isCompact</Alias>
      <Definition>735c03bf-e170-40a7-90ce-d8502671f177</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0bc7efde-6c3b-41a8-90cd-423305e33370</Key>
      <Name>Teasers</Name>
      <Alias>teasers</Alias>
      <Definition>1cd6fbc7-079c-4cdb-a38f-5fa4efb0549d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>