<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32c475b8-61dc-4d43-a894-b747c8bc1cac" Alias="wysiwygBlock" Level="3">
  <Info>
    <Name>Wysiwyg block</Name>
    <Icon>icon-script-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+content/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e7ac2af6-c689-4ef1-8fd9-be2b61ad83ef</Key>
      <Name>Alternative background</Name>
      <Alias>alternativeBackground</Alias>
      <Definition>ecd2e643-c695-4bc1-a4b6-71887dd0da6d</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0c5a6f2c-e054-4039-b92f-66691ce7753a</Key>
      <Name>Wysiwyg</Name>
      <Alias>wysiwyg</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>